.addImg{
    width: 190px;
    height: 190px;
    cursor: pointer;
}

.operate2 {
    margin: 10px auto;
}

.result_mess2 {
    height: 100px;
    width: 100%;
    overflow:auto;
    font-size:1em;
}

.operate2 button{
    width:120px;
    height:40px;
}